@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    color: hsla(0, 0%, 0%, 0.5);
  }
}